.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.label {
    margin-bottom: 1vh;
    box-sizing: border-box;
    font-size: 2vh;
}

.copy-text {
    background-color: #e4e4e4fb;
    position: relative;
    padding: 0.4vh;
    border: 1px solid #c8c8c8;
    border-radius: 0.5vh;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.copy-text input.text {
    padding: 0.5vh;
    flex: 1;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.5vh;
}

.copy-text button {
    background-color: transparent;
    border-radius: 1vh;
    border: none;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    cursor: pointer;
}

.copy-text button:hover{
    background-color: #d2d2d2;
    border-radius: 1vh; 
    border: none;
    padding-right: 1vh;
    padding-left: 1vh;
    cursor: pointer;
    outline: none;
}

.fa-solid.fa-check {
    color: #187736;
}